.load-more {
  display: none;
  margin: 20px auto;
  padding: 10px 20px;
}

button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.search-form {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input {
  margin: 0 auto;
  padding: 8px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.search-btn {
  margin: 0 auto;
  padding: 8px 15px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}

.card {
  width: calc(25% - 10px);
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.card img {
  width: 100%;
}
